# 4.6 Combining & Exporting Data

## 01. Importing Libraries

In [7]:
import pandas as pd
import numpy as np 
import os

## 02. Importing Data

In [8]:
path = r'C:\Users\ThinkPad X250\Documents\Instacart Basket Analysis'

In [9]:
df_ords_prior = pd.read_csv(r'C:\Users\ThinkPad X250\Documents\Instacart Basket Analysis\02 Data\Prepared Data\order_products__prior.csv', index_col = False)

In [10]:
df_ords = pd.read_csv(r'C:\Users\ThinkPad X250\Documents\Instacart Basket Analysis\02 Data\Original Data\orders.csv', index_col = False)

##### 1. Prepared Instacart orders data with the new orders_products_prior dataframe per the instructions in this Exercise

In [11]:
df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [12]:
df_ords_prior.shape

(32434489, 4)

In [13]:
df_ords.shape

(3421083, 7)

In [ ]:
df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', indicator = True)

In [15]:
df_merged_large.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,prior,1,2,8,NaN,196,1,0,both
1,2539329,1,prior,1,2,8,NaN,14084,2,0,both
2,2539329,1,prior,1,2,8,NaN,12427,3,0,both
3,2539329,1,prior,1,2,8,NaN,26088,4,0,both
4,2539329,1,prior,1,2,8,NaN,26405,5,0,both

In [17]:
df_merged_large['_merge'].value_counts()

both          32434489
left_only            0
right_only           0
Name: _merge, dtype: int64

##### 2.	Export the merged file in pickle format as “orders_products_combined.pkl”.

In [22]:
df_merged_large.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_combined.pkl'))