# 4.6 Combining & Exporting Data

## 01. Import Libraries

In [1]:
import pandas as pd
import numpy as np
import os

## 02. Import Data

In [2]:
path = r'C:\Users\ThinkPad X250\Documents\Instacart Basket Analysis'

In [3]:
df_orders_products_combined = pd.read_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_combined.pkl'))

In [5]:
df_prods = pd.read_csv(r'C:\Users\ThinkPad X250\Documents\Instacart Basket Analysis\02 Data\Prepared Data\departments_consistent.csv', index_col = False)

## 03. Task

In [6]:
# 4.Check the shape of the imported dataframe 
df_orders_products_combined.shape

(32434489, 11)

In [7]:
df_orders_products_combined.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,prior,1,2,8,NaN,196,1,0,both
1,2539329,1,prior,1,2,8,NaN,14084,2,0,both
2,2539329,1,prior,1,2,8,NaN,12427,3,0,both
3,2539329,1,prior,1,2,8,NaN,26088,4,0,both
4,2539329,1,prior,1,2,8,NaN,26405,5,0,both

In [8]:
df_prods.shape

(49672, 6)

In [9]:
df_prods.head()

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices
0,0,1,Chocolate Sandwich Cookies,61,19,5.8
1,1,2,All-Seasons Salt,104,13,9.3
2,2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,4,5,Green Chile Anytime Sauce,5,13,4.3

In [11]:
df_prods = df_prods.drop(columns = ['Unnamed: 0'])

In [12]:
df_prods.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3

In [13]:
df_orders_products_combined = df_orders_products_combined.drop(columns = ['_merge'])

In [16]:
# Merge df_orders_combined and df_prods = product_id
df_merged_op = df_orders_products_combined.merge(df_prods, on = 'product_id', indicator = True)

In [17]:
df_merged_op.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge
0,2539329,1,prior,1,2,8,NaN,196,1,0,Soda,77,7,9.0,both
1,2398795,1,prior,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both
2,473747,1,prior,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both
3,2254736,1,prior,4,4,7,29.0,196,1,1,Soda,77,7,9.0,both
4,431534,1,prior,5,4,15,28.0,196,1,1,Soda,77,7,9.0,both

In [18]:
# Confirm the results of the merge using the merge flag
df_merged_op['_merge'].value_counts()

both          32404859
left_only            0
right_only           0
Name: _merge, dtype: int64

In [19]:
df_merged_op.shape

(32404859, 15)

In [20]:
# Export the newly created dataframe as orders_products_merged in a suitable format (taking into consideration the size)
df_merged_op.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_merged.pkl'))